@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: "satoshi";
}

@layer base {
  :root {
    --radius: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
    font-family: "satoshi ", "sans-serif";
  }
}
